@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
@media screen and (min-width: 768px) {
  header {
    position: relative;
  }
}
header i {
  position: absolute;
  left: 20px;
  top: 35px;
  font-size: 1.3em;
  color: black;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header i {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  header i {
    position: absolute;
    left: 25px;
    top: 30px;
    font-size: 2.5em;
  }
}
header h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 1024px) {
  header h1 {
    font-size: 4em;
  }
}

footer {
  background-color: #323232;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 0 0 50px 25px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    font-size: 1.3em;
  }
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
  margin-top: 0;
  padding-top: 18px;
}
footer .footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .text_icon {
  display: flex;
  align-items: center;
}
footer .text_icon .fa-utensils {
  padding-right: 13px;
  font-size: 0.8em;
}
footer .text_icon .fa-hands-helping {
  padding-right: 7px;
  font-size: 0.8em;
}
footer p {
  margin: 0;
}
footer p a {
  text-decoration-line: none;
  color: white;
}

body {
  max-width: 2540px;
  margin: 0 auto;
}

.card .image img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .image img {
    border-radius: 55px;
  }
}
.card .menu {
  position: relative;
  margin-top: -65px;
  border-radius: 35px 35px 0 0;
  background-color: #F2F2F2;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu {
    border-radius: 0;
  }
}
.card .menu .heart_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title {
    justify-content: space-between;
  }
}
.card .menu .heart_title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title h1 {
    padding-left: 15px;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title h1 {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i {
  font-size: 1.5em;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
@media screen and (min-width: 1024px) {
  .card .menu .container {
    display: flex;
    justify-content: space-around;
  }
}
.card .menu .title {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .card .menu .title {
    width: 35%;
  }
}
.card .menu .title .title_category {
  width: 85%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .title_category {
    font-size: 1.5em;
  }
}
.card .menu .title .title_category .titre {
  font-weight: 300;
  margin: 35px 0 20px 0;
  padding-bottom: 6px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.card .menu .title .all {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .menu .title .all__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .all__block {
    font-size: 1.3em;
  }
}
.card .menu .title .all__block__choice {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e6e6e6;
}
.card .menu .title .all__block__choice h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice h4 {
    font-size: 1.1em;
  }
}
.card .menu .title .all__block__choice__text_prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .menu .title .all__block__choice__text_prix p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice__text_prix p {
    font-size: 1em;
  }
}
.card .menu .title .all__block__choice__text_prix span {
  font-weight: bold;
}
.card .button {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
.card .button .btn {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  padding: 15px 40px 15px 40px;
}
.card .button .btn:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 2px 2px #9356DC;
}

body {
  max-width: 2540px;
  margin: 0 auto;
}

.card .image img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .image img {
    border-radius: 55px;
  }
}
.card .menu {
  position: relative;
  margin-top: -65px;
  border-radius: 35px 35px 0 0;
  background-color: #F2F2F2;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu {
    border-radius: 0;
  }
}
.card .menu .heart_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title {
    justify-content: space-between;
  }
}
.card .menu .heart_title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title h1 {
    padding-left: 15px;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title h1 {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i {
  font-size: 1.5em;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
@media screen and (min-width: 1024px) {
  .card .menu .container {
    display: flex;
    justify-content: space-around;
  }
}
.card .menu .title {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .card .menu .title {
    width: 35%;
  }
}
.card .menu .title .title_category {
  width: 85%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .title_category {
    font-size: 1.5em;
  }
}
.card .menu .title .title_category .titre {
  font-weight: 300;
  margin: 35px 0 20px 0;
  padding-bottom: 6px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.card .menu .title .all {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .menu .title .all__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .all__block {
    font-size: 1.3em;
  }
}
.card .menu .title .all__block__choice {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e6e6e6;
}
.card .menu .title .all__block__choice h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice h4 {
    font-size: 1.1em;
  }
}
.card .menu .title .all__block__choice__text_prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .menu .title .all__block__choice__text_prix p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice__text_prix p {
    font-size: 1em;
  }
}
.card .menu .title .all__block__choice__text_prix span {
  font-weight: bold;
}
.card .button {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
.card .button .btn {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  padding: 15px 40px 15px 40px;
}
.card .button .btn:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 2px 2px #9356DC;
}

body {
  max-width: 2540px;
  margin: 0 auto;
}

.card .image img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .image img {
    border-radius: 55px;
  }
}
.card .menu {
  position: relative;
  margin-top: -65px;
  border-radius: 35px 35px 0 0;
  background-color: #F2F2F2;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu {
    border-radius: 0;
  }
}
.card .menu .heart_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title {
    justify-content: space-between;
  }
}
.card .menu .heart_title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title h1 {
    padding-left: 15px;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title h1 {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i {
  font-size: 1.5em;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
@media screen and (min-width: 1024px) {
  .card .menu .container {
    display: flex;
    justify-content: space-around;
  }
}
.card .menu .title {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .card .menu .title {
    width: 35%;
  }
}
.card .menu .title .title_category {
  width: 85%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .title_category {
    font-size: 1.5em;
  }
}
.card .menu .title .title_category .titre {
  font-weight: 300;
  margin: 35px 0 20px 0;
  padding-bottom: 6px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.card .menu .title .all {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .menu .title .all__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .all__block {
    font-size: 1.3em;
  }
}
.card .menu .title .all__block__choice {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e6e6e6;
}
.card .menu .title .all__block__choice h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice h4 {
    font-size: 1.1em;
  }
}
.card .menu .title .all__block__choice__text_prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .menu .title .all__block__choice__text_prix p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice__text_prix p {
    font-size: 1em;
  }
}
.card .menu .title .all__block__choice__text_prix span {
  font-weight: bold;
}
.card .button {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
.card .button .btn {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  padding: 15px 40px 15px 40px;
}
.card .button .btn:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 2px 2px #9356DC;
}

body {
  max-width: 2540px;
  margin: 0 auto;
}

.card .image img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .image img {
    border-radius: 55px;
  }
}
.card .menu {
  position: relative;
  margin-top: -65px;
  border-radius: 35px 35px 0 0;
  background-color: #F2F2F2;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu {
    border-radius: 0;
  }
}
.card .menu .heart_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title {
    justify-content: space-between;
  }
}
.card .menu .heart_title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title h1 {
    padding-left: 15px;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title h1 {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i {
  font-size: 1.5em;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .card .menu .heart_title i {
    font-size: 2.5em;
  }
}
.card .menu .heart_title i:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
@media screen and (min-width: 1024px) {
  .card .menu .container {
    display: flex;
    justify-content: space-around;
  }
}
.card .menu .title {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .card .menu .title {
    width: 35%;
  }
}
.card .menu .title .title_category {
  width: 85%;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .title_category {
    font-size: 1.5em;
  }
}
.card .menu .title .title_category .titre {
  font-weight: 300;
  margin: 35px 0 20px 0;
  padding-bottom: 6px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.card .menu .title .all {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .menu .title .all__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card .menu .title .all__block {
    font-size: 1.3em;
  }
}
.card .menu .title .all__block__choice {
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px #e6e6e6;
}
.card .menu .title .all__block__choice h4 {
  margin-bottom: 5px;
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice h4 {
    font-size: 1.1em;
  }
}
.card .menu .title .all__block__choice__text_prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .menu .title .all__block__choice__text_prix p {
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}
@media screen and (min-width: 1024px) {
  .card .menu .title .all__block__choice__text_prix p {
    font-size: 1em;
  }
}
.card .menu .title .all__block__choice__text_prix span {
  font-weight: bold;
}
.card .button {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
.card .button .btn {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
  padding: 15px 40px 15px 40px;
}
.card .button .btn:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 2px 2px #9356DC;
}

body {
  max-width: 2540px;
  margin: 0 auto;
}

.description {
  background-color: #F6F6F6;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.description .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  background: linear-gradient(to top, #F6F6F6, 98%, #CECECE);
  filter: contrast(90%);
}
.description .localisation__icon {
  padding-right: 15px;
}
.description .localisation p {
  padding-right: 45px;
  font-weight: 500;
}
.description .presentation {
  padding-bottom: 40px;
}
.description .presentation p {
  font-size: 1.1em;
  font-weight: 300;
  padding: 0 20px 0 20px;
}
.description .presentation h2 {
  padding: 0 70px 0 70px;
}
.description .presentation .btn {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-size: 1em;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  cursor: pointer;
}
.description .presentation .btn:hover {
  opacity: 0.85;
  box-shadow: 2px 2px 2px 2px #9356DC;
}

.fonctionnement {
  font-family: "Roboto", sans-serif;
}
.fonctionnement h2 {
  padding-left: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement h2 {
    padding-left: 40px;
  }
}
.fonctionnement__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement__list {
    font-size: 0.8em;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list {
    justify-content: space-around;
  }
}
.fonctionnement .list {
  width: 80%;
  display: flex;
  background-color: #F5F5F5;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 3px 3px 3px 3px #E6E6E6;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement .list {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement .list {
    width: 25%;
  }
}
.fonctionnement .list:hover {
  background-color: #F2F2F2;
}
.fonctionnement .list:hover .icon_text i {
  color: #9356DC;
}
.fonctionnement .list .number {
  font-size: 1em;
  padding: 2px 7px 2px 7px;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  position: relative;
  left: -25px;
}
.fonctionnement .list .icon_text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fonctionnement .list .icon_text {
    justify-content: space-between;
  }
}
.fonctionnement .list .icon_text i {
  color: #B1B1B1;
}

.restaurants {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants {
    display: flex;
    flex-direction: column;
  }
}
.restaurants h2 {
  padding: 40px 0 0 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants h2 {
    padding-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants .block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .block {
    display: flex;
    justify-content: space-around;
  }
}
.restaurants .restaurant {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants .restaurant {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurant {
    width: 22%;
  }
}
.restaurants .restaurant__block {
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  box-shadow: 4px 4px 4px 4px #f2f2f2;
}
.restaurants .restaurant__block .new {
  background-color: #99E2D0;
  color: #578176;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  position: absolute;
  top: 20px;
  right: 10px;
}
.restaurants .restaurant__block figcaption {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurant__block figcaption {
    width: 100%;
    font-size: 0.9em;
  }
}
.restaurants .restaurant__block figcaption .text {
  padding-left: 15px;
}
.restaurants .restaurant__block figcaption .text h3 {
  margin-bottom: 5px;
}
.restaurants .restaurant__block figcaption .text p {
  margin-top: 5px;
}
.restaurants .restaurant__block figcaption .heart {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.restaurants .restaurant__block figcaption .heart i {
  font-size: 1.5em;
  cursor: pointer;
}
.restaurants .restaurant__block figcaption .heart i:hover {
  background: linear-gradient(to top left, #9356DC, #FF79DA);
}
.restaurants .restaurant a {
  position: relative;
  width: 100%;
}
.restaurants img {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants img {
    height: 25vw;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants img {
    height: 15vw;
  }
}

/*# sourceMappingURL=style.css.map */
