.card{
    .image{
        img{
            width: 100%;
        }
    }
    .menu{
       position: relative;
       margin-top: -65px;
       border-radius: 35px 35px 0 0;
       background-color: #F2F2F2;
       .heart_title{
            display: flex;
            justify-content: space-around;
            align-items: center;
           h1{
               font-family: 'Shrikhand', sans-serif;
               font-size: 1.8em;
           }
           i{
               font-size: 1.5em;
           }
       }
       .title{
           font-family: 'Roboto', sans-serif;
           .titre{
               font-weight: 300;
               margin-left: 10px;
           }
            &__block{
                display: flex;
                flex-direction: column;
                align-items: center;
                &__entree{
                    width: 90%;
                    padding: 15px;
                    background-color: white;
                    border-radius: 10px;
                    h4{
                        margin-bottom: 5px;
                        margin-top: 0;
                    }
                    &__text_prix{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            margin: 0;
                        }
                    }
                }
            }
        } 
    }
}