.card{
    .image{
        img{
            width: 100%;
        }
    }
    .menu{
       position: relative;
       margin-top: -65px;
       border-radius: 35px 35px 0 0;
       background-color: #F2F2F2;
       .heart_title{
            display: flex;
            justify-content: space-around;
            align-items: center;
           h1{
               font-family: 'Shrikhand', sans-serif;
               font-size: 1.8em;
           }
           i{
               font-size: 1.5em;
               &:hover{
                background: linear-gradient(to top left, $color-primary, $color-secondary);
                }
           }
       }
       .title{
           font-family: 'Roboto', sans-serif;           
           .all{
            height: 260px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
           }
           .titre{
               font-weight: 300;
               margin: 35px 0 20px 13px;
               padding-bottom: 6px;
               width: 40px;
               border-bottom: 3px solid $color-tertiary;
           }
            &__block{
                display: flex;
                flex-direction: column;
                align-items: center;
                &__choice{
                    width: 85%;
                    padding: 15px;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 3px 3px 3px 3px #e6e6e6;
                    h4{
                        margin-bottom: 5px;
                        margin-top: 0;
                    }
                    &__text_prix{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            margin: 0;
                            font-weight: 300;
                        }
                        span{
                            font-weight: bold;
                        }
                    }
                }
            }
        } 
    }
    .button{
        display: flex;
        justify-content: center;
        padding: 50px 0 50px 0;
        .btn{
        @include button;
        padding: 15px 40px 15px 40px;
            &:hover{
                opacity: 0.9;
                box-shadow: 2px 2px 2px 2px $color-primary;
            }
        }
    }
}